body{
    margin: 0%;
    background-image: url("../assets/dack.jpg");
    background-repeat: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

/* 
.container1{
    margin-top: 1%;
}

.container2{
  position: absolute;
  margin-top: 2%;
} */
#list2{
    margin-top: 3%;
}
#div1 {
  position: absolute;
  margin-top: 10%;
  width: fit-content;
}
#div2 {
  position: absolute;
  margin-top: 10%;
  margin-left: -10%;
  width: fit-content;
  /* padding-left: 5%; */
}
#div3{
  position: absolute;
  margin-top: 10%;
  width: fit-content;
}
/* .list_container{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 3%;
    height: 25vh;
    width: 30vw;
    
    overflow-x: hidden; 
    overflow-y: auto;
    background-color: skyblue;
    /* display: hidden; */
    /* box-shadow: 5px 10px #888888;
} */ 
.statusbtn{
    position: relative;
    margin-left: 20%;
    margin-top: 1%;
    height: 2vh;
    width: 9vw;
}

.statusbtn {
    /* position: absolute; */
    /* margin-top: 2%;
    margin-left: 5% ; */
    display: inline-block;
    padding: 0.1% 0.2%;
    font-size: 80%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /* color: #fff; */
    background-color: #4CAF50;
    border: none;
    border-radius: 25% ;
    box-shadow: 0 9px #999;
  }
  
  .statusbtn:hover {background-color: #3e8e41}
  
  .statusbtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #logout{
    background-color: black;
    color: white;
    position: absolute;
    font-size: x-large;
    margin-left: 90%;
  }
  #add{
    position: relative;
    margin-left: 95% !important;
    width: 11% !important; 
  }


  #remove{
    position: absolute;
    width: 20%;
    margin-left: 108%;
    margin-top: 5%;
  }

  #checkout{
    position: absolute;
    margin-top: 20%;
    margin-left: 178%;
  }
  #checkin{
    position: absolute;
    margin-top: 40%;
    margin-left: 178%;
  }


  .list_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.list_table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.list_table th,
.list_table td {
    padding: 12px 15px;
}

.list_table  tbody tr {
  border-bottom: 1px solid #dddddd;
}

.list_table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.list_table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.list_table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.reqcheckout{
  position: absolute;
  width: 20%;
  margin-left: 80% !important;
  margin-top: 12% !important;
}