<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styles/admin.css" type="text/css">
    <title>Admin</title>
</head>
<body>
    <h1>Hello ! {{.UserName}}</h1>
    <h2>List of books</h2>
    <button id = "add" style="background-color: limegreen; " onclick="window.location.href = '/admin/add';">Add +</button>
    <button class="statusbtn" id="reqcheckout" onclick="window.location.href = `/checkout`;" style="background-color: limegreen;"  > Check-Out </button>
    <button class="statusbtn" id="remove" onclick="removeBook()" style="background-color: rgb(252, 133, 133);"  > Remove </button>
    <div class="list_container container1">
        
        

        <table class="list_table">
            <thead>
                <tr>
                    <th > "Book Id  "        </th> 
                    <th></th> <th>||</th>
                    <th > "Book Name  "      </th> 
                    <th></th><th>||</th>
                    <th > "Author  "  </th>
                    <th></th><th>||</th>  
                    <th > "Copies  " </th>
                </tr>
            </thead>

            <tbody >
           
                {{range .Books}}
                    {{if ne .Copies 0}}
                        <tr>
                            <td>{{.BookId}}</td>
                            <td></td>
                            <td>||</td>
                            <td>{{.BookName}}</td>
                            <td></td>
                            <td>||</td>
                            <td>{{.Author}}</td>
                            <td></td>
                            <td>||</td>
                            <td>{{.Copies}}</td>
                            <td>
                                <form id="bookIdForm" style="display: none;">
                                    <input type="text" class="inputField" style="display: none;" id="bookId" name="bookId" value="{{.BookID}}" required autofocus><br><br>
                                    <input type="text" class="inputField" id="copies" name="copies" style="display: none;" value="{{.Copies}}" required autofocus><br><br>
                                </form>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    {{end}}
                {{end}}
              </tbody>
        </table>

    </div>

    <h2 id ="list2">List Of CheckedOut Books</h2>

    <div class="list_container container2">
        
        <table class="list_table">
            <thead>
                <tr>
                    <th > "Request Id  "        </th> 
                    
                    <th></th><th>||</th>
                    <th > "Book Id  "  </th>
                    <th></th><th>||</th>
                    <th > "User Id  "  </th>
                    <th></th>
                </tr>
            </thead>

            <tbody >
                {{range $i, $reqEntry := .ReqBook}}
                <tr>
                    <td>{{$reqEntry.ReqId}}</td>
                    <td></td>
                    <td>||</td>
                    <td>{{$reqEntry.BookId}}</td>
                    <td></td>
                    <td>||</td>
                    <td>{{$reqEntry.UserId}}</td>
                    <td></td>
                    <td>
                        <button class="statusbtn" id="reqbtn"
                            {{if eq $reqEntry.Status 1}}
                                style="background-color: white;"
                            {{else if eq $reqEntry.Status -1}}
                                style="background-color: white;"
                            {{end}}
                            {{if eq $reqEntry.Status 0}}
                                onclick="window.location.href = '/checkin';"
                            {{end}}
                        >
                            {{if eq $reqEntry.Status 1}}
                                Requested Check-In
                            {{else if eq $reqEntry.Status -1}}
                                Requested Check-Out
                            {{else}}
                                Request Checkin
                                <!-- {{with $reqEntry}}
                                    {{.Status}} -->
                                {{end}}
                            {{end}}
                        </button>
                    </td>
                </tr>
            {{end}}
            
              </tbody>
        </table>

    </div>
    <h2 id ="list3">List Of Admin-access Request</h2>

    <div class="list_container container3">
        
        <table class="list_table">
            <thead>
                <tr>
                    <th > "Request Id  "        </th> 
                    <th></th> <th>||</th>
                    
                    <th > "User Id  "  </th>
                    <th></th>
                </tr>
            </thead>

            <tbody >
                {{range $i, $reqst := .AdminReq}}
                <tr>
                    <td>{{$reqst.ReqId}}</td>
                    <td></td>
                    <td>||</td>
                    <td>{{$reqst.UserId}}</td>
                    <td></td>
                    <td>
                        <button class="statusbtn" id="choose" style="background-color: rgb(252, 133, 133);" onclick="window.location.href = '/admin/choose';">
                            Accept / Deny
                        </button>
                    </td>
                </tr>
            {{end}}
            
              </tbody>
        </table>

    </div>

    <button class="statusbtn" id="checkout"  onclick="window.location.href =' /admin/checkout ' ;" style="background-color: limegreen;"  > Check-Out </button>
    <button class="statusbtn" id="checkin"  onclick="window.location.href = ' /admin/checkin ';" style="background-color: limegreen;"  > Check-in </button>
    <button id="logout" onclick="window.location.href = '/logout';"> Log-Out</button>
</body>

    <script >
        let remove = document.getElementById("remove");

        function removeBook(){
        window.location.href = `/admin/remove`
        }

        remove.addEventListener("click", (e) => {
            removeBook();
        });

    </script>
</html>