<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styles/client.css" type="text/css">
    <script defer src="/templates/scripts/client.js"></script>
    <title>Client Panel</title>
</head>

<body>
    <h1>Hello ! {{.UserName}}</h1>

    <div id="navbar">
        <ul>
            <li><a class="navbtn" id="available">Available</a></li>
            <li><a class="navbtn" id="requested">Requested Books</a></li>
        </ul>
    </div>

    <div id="div1">
        <h2>List of books</h2>
        <div class="list_container container1">

            <table class="list_table">
                <thead>
                    <tr>
                        <th> "Book Id " </th>
                        <th></th>
                        <th>||</th>
                        <th> "Book Name " </th>
                        <th></th>
                        <th>||</th>
                        <th> "Author " </th>
                        <th></th>
                        <th>||</th>
                        <th> "Copies " </th>
                    </tr>
                </thead>
                {{range $i, $reqBook := .Books}}

                <tr>
                    <script>console.log("{{$i}}")</script>
                    <script>console.log("{{$reqBook}}")</script>
                    {{if ge $reqBook.Copies 1}}
                    <td>{{$reqBook.BookId}}</td>
                    <td></td>
                    <td>||</td>
                    <td>{{$reqBook.BookName}}</td>
                    <td></td>
                    <td>||</td>
                    <td>{{$reqBook.Author}}</td>
                    <td></td>
                    <td>||</td>
                    <td>{{$reqBook.Copies}}</td>
                    <td>

                        <form action="/checkout" method="POST">
                            <input type="number" class="inputField" id="bookId" name="bookId"
                                value="{{$reqBook.BookId}}" style="display: none;" required autofocus><br><br>
                            <input type="submit" value=" Check-Out " class="statusbtn" class="reqcheckout"
                                style="background-color: limegreen;">
                        </form>
                    </td>
                    <td></td>
                    {{end}}
                </tr>
                {{end}}


            </table>

        </div>
    </div>

    <div id="div2">

        <h2 id="list2">List Of CheckedOut Books</h2>

        <div class="list_container container2">

            <table class="list_table">
                <thead>
                    <tr>
                        <th> "Request Id " </th>
                        <th></th>
                        <th>||</th>
                        <th> "Book Name " </th>
                        <th></th>
                        <th>||</th>
                        <th> "User Name " </th>
                        <th></th>
                        <th>||</th>
                        <th>"Status"</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {{range $i, $reqEntry := .RequestBook}}
                    <tr>
                        {{if ne $reqEntry.RequestId "empty"}}
                        <td>{{$reqEntry.RequestId}}</td>
                        <td></td>
                        <td>||</td>
                        <td>{{$reqEntry.BookName}}</td>
                        <td></td>
                        <td>||</td>
                        <td>{{$reqEntry.UserName}}</td>
                        <td></td>
                        <td></td>
                        {{$Status := ""}}
                        {{$link := ""}}
                        {{$color := "limegreen"}}
                        {{$type := ""}}

                        {{if eq $reqEntry.Status "1"}}
                        {{$color = "white"}}
                        {{$Status = "Requested Check-In"}}
                        {{$link = "/admin"}}
                        {{end}}

                        {{if eq $reqEntry.Status "-1"}}
                        {{$color = "white"}}
                        {{$Status = "Requested Check-Out"}}
                        {{$link = "/admin"}}
                        {{end}}

                        {{if eq $reqEntry.Status "0"}}
                        {{$link = "/checkin"}}
                        {{$Status = "Request Checkin"}}
                        {{$type = "submit"}}
                        {{end}}

                        <td>

                            <form action="{{$link}}" method="POST">
                                <input type="number" class="inputField" id="reqId" name="reqId"
                                    value="{{$reqEntry.RequestId}}" style="display: none;" required autofocus> <br> <br>

                                <input type="{{$type}}" value="{{$Status}}" id="submit" class="statusbtn "
                                    class="reqbtn" style="background-color: limegreen;">

                            </form>
                        </td>
                        <td></td>
                        {{end}}
                    </tr>
                    {{end}}

                </tbody>
            </table>


        </div>
    </div>

    <button id="logout" onclick="window.location.href = '/logout';"> Log-Out</button>
</body>

</html>