<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/welcome.css">
    <title>register</title>

</head>
<body>

        <div id="register">
            <div>
                <!-- <% if(data == "Username is not unique") {%>
                    <h2 style="color: red;" >*Username is not unique </h2>
                    <%}%> -->

                {{ if  eq .Data "Username is not unique"}}
                    <h2 style="color: red;" >*Username is not unique </h2>
                {{end}}                                                                                 
                <form  id="registerForm">
        
                    <div title="No Special Char in UserName ">
                    <label class="label" for="username">UserName : </label><br>
                    <input type="text" class="inputField"  id="username" name="username" placeholder="Enter Name" required><br><br>
                    </div>
        
                    <div title=" Atleast One special character(@ , _ , $) with alphanumeric password ">
                    <label class="label" for="password">Password :</label><br>
                    <input type="password" class="inputField" id="password" name="password" placeholder="Enter Password" required><br><br>
                    </div>
        
                    <div >
                    <label class="label" for="reEnterPass">Re-Enter Password : </label><br>
                    <input type="password" class="inputField" id="reEnterPass" name="reEnterPass" placeholder="Re-enter Password" required><br>
                    </div>
                    <input type="checkbox" name="adminAccess" id="adminAccess" value="adminAccess" > 
                    <label for="adminAccess">Ask Admin For Admin Access</label>
        
                    <h2 id ="invalid"> *Not Upto Criteria</h2>
                    <h2 id="mismatch" > *Password Not Matching</h2>
        
                    <!-- <input type="submit" value="Submit" id ="btnsubmit" onmouseover="check()" > -->
                </form>
                <button  id ="btnsubmit" onmouseover="check()" >Submit</button>
        
            </div>
        </div>

    </div>
    <script>
        let mismatch = document.getElementById("mismatch");
        let invalid = document.getElementById("invalid");
        let registerForm = document.getElementById("registerForm");
        let btnsubmit = document.getElementById("btnsubmit");

        var Regex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[@$_]).+$/;
        var alphanumericRegex = /^[a-zA-Z0-9]+$/;

        let i=0
        registerForm.method = 'POST'
        registerForm.action = "/register"

        function check(){
            console.log('hover')
            var Username = document.getElementById('username');
            var Password = document.getElementById('password');
            let reEnterPass = document.getElementById('reEnterPass');

            if(Password.value != reEnterPass.value ){
                mismatch.style.display = 'block'
                i=1
            }
            else if( !(Regex.test(Password.value))){
                invalid.style.display = 'block'
                i=1;
            }
            else if( !(alphanumericRegex.test(Username.value)) ){
                invalid.style.display = 'block'
                i=1;
            }
            else{
                mismatch.style.display = 'none'
                invalid.style.display = 'none'
                btnsubmit.style.cursor = 'default'
                i=0;
            }
        }

        btnsubmit.addEventListener("click", (e) => {
        
            if(i===0){
                registerForm.submit()
        }
        });
    </script>
</body>
</html>