<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/styles/welcome.css">
    <title>Welcome</title>

</head>
<body>
    <div class="wlcmscrn">
        
        <section class="wlcm">
            <h1 id="txt1">Hey!!</h1>
            <h1 id="txt2">Welcome to the world of books. </h1>
            <div id="links">
                <h2 id="txt3"> Click here to -></h1>

                <a id="loginLink" href="/login"> Login </a>
        
                <a id="registerLink" href="/register">  Register </a>
            </div>
            
        </section>


    </div>
</body>
</html>